[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	fsmonitor = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[http]
	postBuffer = 524288000

[include]
	path = ~/.gitconfig.local
